@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 98%; /* Branco quase puro */
    --foreground: 0 0% 10%; /* Texto escuro para contraste */
    --card: 0 0% 100%; /* Fundo de cartões branco */
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 10%;
    --primary: 154 98% 79%; /* Aproximado de #98FEBE */
    --primary-foreground: 0 0% 15%; /* Texto mais escuro sobre o verde claro */
    --secondary: 154 40% 90%; /* Um verde bem claro para contraste suave */
    --secondary-foreground: 0 0% 15%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 154 40% 85%;
    --accent-foreground: 0 0% 15%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 80%;
    --input: 0 0% 85%;
    --ring: 154 98% 79%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 30% 10%; /* Azul escuro puxado para roxo */
    --foreground: 0 0% 95%; /* Texto claro para contraste */
    --card: 240 30% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 240 30% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 234 55% 70%; /* Aproximado de #AAB6FB */
    --primary-foreground: 240 80% 20%;
    --secondary: 250 50% 40%; /* Puxado para #4324B6 */
    --secondary-foreground: 0 0% 100%;
    --muted: 240 20% 25%;
    --muted-foreground: 240 10% 60%;
    --accent: 250 70% 55%; /* Um azul/lilás vibrante */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 40%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 30% 20%;
    --input: 240 30% 25%;
    --ring: 234 55% 70%; /* Azul claro da logo */
    --chart-1: 220 70% 60%;
    --chart-2: 250 60% 50%;
    --chart-3: 280 50% 45%;
    --chart-4: 300 65% 60%;
    --chart-5: 340 75% 55%;
    --success: 154 98% 79%;
    --success-foreground: 164 80% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
}
